# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.vscode
**/.ipynb_checkpoints/
.python-version
Untitled*
None0000000.*

# due to using tox and pytest
.tox
.cache

# results or temporary files
result.vtu
test.vtu
*.png
*.ps
out*/
tmp*
